.fs-textStoryForm-root {
  margin-top: 5rem !important;
  max-width: 90% !important;
}

.fs-textStoryForm-textConfig {
  width: 30% !important;
}

.fs-textStoryForm-textConfig__textArea {
  width: 100%;
}

.fs-textStoryForm-actionBtnGroup__saveBtn,
.fs-imageStoryForm-actionBtnGroup__saveBtn,
.fs-imageStoryForm-addTextBtn {
  padding: 0.8rem 2.4rem;
  background: #2f80ed;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
  max-width: 10rem;
  text-align: center;
  display: block;
}

.fs-textStoryForm-actionBtnGroup__cancelBtn,
.fs-imageStoryForm-actionBtnGroup__cancelBtn,
.fs-imageStoryForm-deleteTextsBtn {
  padding: 0.8rem 2.4rem;
  background: #ed2f2f;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
  max-width: 10rem;
  text-align: center;
  display: block;
}

.fs-imageStoryForm-root {
  margin-top: 5rem;
  flex-direction: column;
}

.fs-imageStoryForm-actionBtnGroup {
  display: flex;
  gap: 2rem;
}

.fs-imageStoryForm-top__aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fs-imageStoryForm-addTextBtn,
.fs-imageStoryForm-deleteTextsBtn {
  max-width: 100%;
  padding: 1rem;
}

.fs-imageStoryForm-textColorForm {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
